# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env.bak/
.envrc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# MacOS
.DS_Store

# PyCharm
.idea/

# Logs
*.log

# Cache
*.cache
.cache/
.mvenv/
